{% extends 'base.html'%}
<!-- The extend to home is temporary, something else when you need -->

{% block layout %}
<main class="wrapper">
 
    {% block content %}

    <div class="list">

        <header class="list-info">
            <h6 class="list-info-title">
                Here are all {{ total_quest }} the quests in the game
            </h6>
        </header>

        {% for quest in quests %}
        
        <article class="list-article">
            <header class="list-article-header">
                <h6>{{ quest.title }}</h6>
            </header>

            <p class="list-article-description">
                 {{ quest.description }}
            </p>

            <p class="list-article-description">
                {{ quest.condition }}
            </p>
        </article>

        {% endfor %}
        
    </div>
    {% endblock %}
    
</main>

{% endblock %}

