{% extends 'base.html'%}
<!-- The extend to home is temporary, something else when you need -->

{% block layout %}
<div>
 
    {% block content %}

    <h1> Here are all {{ total_conv }} the conversations in the game</h1>


    <h1> Please fill the form </h1>

    <p> Get your ass out to make other types of sorting </p>


    <ul>
        {% for conv in convs %}
        <li><a href="{% url 'edit_conv' conv.1 %}"> {{ conv.0 }} </a> - {% if conv.2 == 1 %} [QUEST step {{conv.3}}] {% endif %} </li>    
        {% endfor %}
    </ul>


    {% endblock %}

</div>

{% endblock %}

