{% extends 'base.html'%}
<!-- The extend to home is temporary, something else when you need -->

{% block layout %}
<main class="wrapper">
 
    {% block content %}

    <nav>
        <ul>
            <li><a href="{% url 'create_location'%}">Create Location</a></li>
        </uL>
    </nav>
    <div class="list">

        <header class="list-info">
            <h6 class="list-info-title">
                Here are all {{ total_loc }} the locations in the game
            </h6>
        </header>

        <p>Here are all locations</p>
        
    </div>
    
    <ul>
        {% for loc in all_loc %}
        <li> {{ loc.name }} </li>
        {% endfor %}
    </ul>


    {% endblock %}

</main>

{% endblock %}

