{% extends 'base.html'%}
<!-- The extend to home is temporary, something else when you need -->

{% block layout %}
<main class="wrapper">
 
    {% block content %}

    <div classs="list">

        <header class="list-info">
            <h6 class="list-info-title">
                Here are all {{ total_char }} the characters in the game
            </h6>

        </header>
        
        {% for char in chars %}

        <nav>
            <ul>
                <li><a href="{% url 'create_char'%}">Create Character</a></li>
            </uL>
        </nav>

        <article class="list-article">
            <header class="list-article-header">
                 <h6>
                    {{ char.name }}
                </h6>


            </header>

            {% if char.walkable == true %}
            <div class="list-article-checkbox">
                <p> Is walkable </p>
            </div>
            {% endif %}
        </article>

        {% endfor %}

    {% endblock %}
    </div>
    
</main>

{% endblock %}

