{# This will be inserted on the main dialogue tag of the site as a modal due to picoCSS #}

<div class="should-be-modal">
    <form method="POST"
        id = "new_speech_form"
        class=""
        _="on htmx:afterRequest remove me"
        hx-post=    "{% url 'create_speech' conv_pk %}"
        hx-target=  "#all_conv_wrapp"
        hx-swap=    "beforeend"
        hx-on*:after-request=   "this.reset()"
    >
    
        {% csrf_token %}

        {{ form }}
        <button type="submit"> Submit Speech</button>
    </form>
</div>


<div>

    
</div>