{# This will be inserted on the main dialogue tag of the site as a modal due to picoCSS #}

{# Carol se você tá lendo isso, vê se isso facilita tua vida https://picocss.com/docs/modal #}

<div class="could-be-modal">
    <form method="POST"
        id = "new_speech_form"
        
        _="on htmx:afterRequest remove me"

        hx-post=    "{% url 'create_speech' conv_pk %}"
        hx-target=  "#all_conv_wrapp"
        hx-swap=    "beforeend"
        hx-on*:after-request=   "this.reset()"
    >
    
        {% csrf_token %}

        {{ form }}
        <button type="submit"> Submit Speech</button>
    </form>
</div>


<div>

    
</div>