{# This will be inserted on the main dialogue tag of the site as a modal due to picoCSS #}

{# Carol se você tá lendo isso, vê se isso facilita tua vida https://picocss.com/docs/modal #}

<div class="could-be-modal">
    <form method="POST"
        id = "new_speech_form"
        class=""
        
        _="on htmx:afterRequest remove #new_linear_speech_button
            remove me"
        {# because it can throw a wrench looking for unique speechs and break the conv #}
        
        hx-post=    "{% url 'create_reply' reply_to_pk %}"
        hx-target=  "#speech-{{ reply_to_pk }}"
        hx-swap=    "beforeend"
        hx-on*:after-request=   "this.reset()" {# leaving in case i need it #}
    >
    
        {% csrf_token %}

        {{ form }}
        <button type="submit"> Submit Reply</button>
    </form>
</div>


<div>

    
</div>