{# This will be inserted on the main dialogue tag of the site as a modal due to picoCSS #}

{# Carol se você tá lendo isso, vê se isso facilita tua vida https://picocss.com/docs/modal #}

<div class="could-be-modal">
    <form method="POST"
        id = "edit_speech_form_{{ speech_pk }}"
        class=""
        
        hx-post=    "{% url 'edit_speech' speech_pk %}"
        hx-target=  "#speech-{{ speech_pk }}"
        hx-swap=    "beforeend"

        _="on htmx:afterRequest remove me"
    >
    
        {% csrf_token %}

        {{ form }}


        <button type="submit"> Submit Edit</button>
    </form>
</div>


<div>

    
</div>