
<h2 class = "speech-print-title">
    Name: {{ speech.name }}
</h2>
<header class = "speech-reply info">
    <p>Reply to [ {{ speech.previous_speech}} ]</p>
    <p>Replies: {{ speech.replies.all|length }}</p>
    
</header>

<div class="speech-speaker hidden">
    
</div>

<div class = "speech-print-translations">
    

    {% if speech.is_fork %}
    <ul class= "speech-print-question">
        <h6>Fork Question:</h6>
        <li class="txt txt-en"> <strong>EN:</strong>  {{ speech.fq_en }}  </li>
        <li class="txt txt-pt"> <strong>PT:</strong>  {{ speech.fq_pt }}  </li>
        <li class="txt txt-es"> <strong>ES:</strong>  {{ speech.fq_es}}  </li>
    </ul>
    {% endif %}


    <ul class = "language_wrap wrap">
        
        {# Here is the core part of speeches #}
        <h6>Speech:</h6>
        {# Add Fork Question here too #}
        <li class="txt txt-en"> <strong>EN:</strong>  {{ speech.txt_en }}  </li>
        <li class="txt txt-pt"> <strong>PT:</strong>  {{ speech.txt_pt }}  </li>
        <li class="txt txt-es"> <strong>ES:</strong>  {{ speech.txt_es }}  </li>

    </ul>

</div>


<div class="speech-localized hidden">
    <ul>
        <li>Localized PT:</li>
        <li>Localized ES:</li>
    </ul>
</div>

<div class="speech-proofread hidden">
    <ul>
        <li>Proofread EN:</li>
        <li>Proofread PT:</li>
        <li>Proofread ES:</li>
    </ul>
</div>


<div class = " speech-footer-data">
    {# Will put some of those on the header instead#}
    <nav class="columns is-multiline">
        
        {% if not speech.previous_speech %}
        <div class="column is-half previous_nav">
            <p>No previous speeches</p>
        </div>
        {% else %}
        <div class="column is-half previous_nav">
            <strong>Previous Speech:</strong>            
            <a  href="#speech-{{ speech.previous_speech.id }}"> {{ speech.previous_speech }} </a>
        </div>
        {% endif %}


        <div class="column is-half next_nav">

            {% if speech.next_speech %}

            <p><strong>Main Next Speech: </strong> </p>
            <p>           
                <a  href="#speech-{{ speech.next_speech.id }}"> {{ speech.next_speech }} </a>
            </p>
            {% endif %}

            {% if speech.has_fork %}
            <h6 class="title is-6">Replies:</h6>
        
            <ul>
                {% for fork in speech.replies.all %}
                <li>
                    <a href="#speech-{{fork.id}}" > {{ fork.name }} </a>
                </li>
                {% endfor %}
            </ul>
            {% endif %}


        </div>
        
        <div class="column is-half is-centered has-text-centered">
            <p>
                <strong>Next is Cycled:</strong> {{ speech.next_is_cycled }} 
            </p>
        </div>
    </nav>

</div>
