<section class="form_wrap wrapper">

<!-- I am very aware this could be done differently,
  but I am disgusted for the loops of templating language loops-->
    <form 
        class = "fork_form"
        hx-post="{% url 'create_fork' speech.id %}"
        hx-swap="outerHTML"    
    >
        {% csrf_token %}
        
        <!-- ------------------ FORK A --------------------------  -->
        
        <div class="fork_wrapper wrapper grid ">
            <h6>FORK A:</h6>
            <!-- ------------------ EN --------------------------  -->
             <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_en"
                    _="on click toggle .hidden on the next .field_en">
                    Hide EN
                </button>
                <fieldset class="field_en">
                    
                    <label>English:</label>

                    {{ form.fork_question_en_A }}

                    
                </fieldset>
            </div>

            <!-- ------------------ PT --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_pt"
                    _="on click toggle .hidden on the next .field_pt">
                    Show PT
                </button>
                <fieldset class="field_pt hidden">
                    <label>Portuguese:</label>

                    {{ form.fork_question_pt_A}}
                </fieldset>
            </div>


            <!-- ------------------ ES --------------------------  -->
             <div class = "language_group">
                <button
                    type="button"
                    class="btn_show show_es"
                    _="on click toggle .hidden on the next .field_es">
                    Show ES
                </button>
                <fieldset class="field_es hidden">
                    <label>Spanish:</label>

                    {{ form.fork_question_es_A}}
                </fieldset>
            </div>
        </div> <!-- FORK A  ENDS -->
        <button
            type="button"
            class="btn_show show_form "
            _="on click 
                toggle .hidden on the next <div/>
                toggle  .hidden on the next .show_form"
        >
            Show Fork B
        </button>

        <div class="fork_wrapper wrapper grid hidden">
            <h6>FORK B:</h6>
            <!-- ------------------ EN --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_en"
                    _="on click toggle .hidden on the next .field_en">
                    Hide EN
                </button>
                <fieldset class="field_en">
                    
                    <label>English:</label>

                    {{ form.fork_question_en_B }}

                    
                </fieldset>
            </div>

            <!-- ------------------ PT --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_pt"
                    _="on click toggle .hidden on the next .field_pt">
                    Show PT
                </button>
                <fieldset class="field_pt hidden">
                    <label>Portuguese:</label>

                    {{ form.fork_question_pt_B}}
                </fieldset>
            </div>


            <!-- ------------------ ES --------------------------  -->
            <div class = "language_group">
                <button
                    type="button"
                    class="btn_show show_es"
                    _="on click toggle .hidden on the next .field_es">
                    Show ES
                </button>
                <fieldset class="field_es hidden">
                    <label>Spanish:</label>

                    {{ form.fork_question_es_B}}
                </fieldset>
            </div>
        </div> <!-- FORK B  ENDS -->
        <button
            type="button"
            class="btn_show show_form hidden"
            _="on click 
                toggle .hidden on the next <div/>
                toggle  .hidden on the next .show_form"
        >
            Show Fork C
        </button>

        <div class="fork_wrapper wrapper grid hidden">
            <h6>FORK C:</h6>
            <!-- ------------------ EN --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_en"
                    _="on click toggle .hidden on the next .field_en">
                    Hide EN
                </button>
                <fieldset class="field_en">
                    
                    <label>English:</label>

                    {{ form.fork_question_en_C }}

                    
                </fieldset>
            </div>

            <!-- ------------------ PT --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_pt"
                    _="on click toggle .hidden on the next .field_pt">
                    Show PT
                </button>
                <fieldset class="field_pt hidden">
                    <label>Portuguese:</label>

                    {{ form.fork_question_pt_C}}
                </fieldset>
            </div>


            <!-- ------------------ ES --------------------------  -->
            <div class = "language_group">
                <button
                    type="button"
                    class="btn_show show_es"
                    _="on click toggle .hidden on the next .field_es">
                    Show ES
                </button>
                <fieldset class="field_es hidden">
                    <label>Spanish:</label>

                    {{ form.fork_question_es_C}}
                </fieldset>
            </div>
        </div> <!-- FORK C  ENDS -->
        <button
            type="button"
            class="btn_show show_form hidden"
            _="on click 
                toggle .hidden on the next <div/>
                toggle  .hidden on the next .show_form"
        >
            Show Fork D
        </button>

        <div class="fork_wrapper wrapper grid hidden">
            <h6>FORK D:</h6>
            <!-- ------------------ EN --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_en"
                    _="on click toggle .hidden on the next .field_en">
                    Hide EN
                </button>
                <fieldset class="field_en">
                    
                    <label>English:</label>

                    {{ form.fork_question_en_D }}

                    
                </fieldset>
            </div>

            <!-- ------------------ PT --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_pt"
                    _="on click toggle .hidden on the next .field_pt">
                    Show PT
                </button>
                <fieldset class="field_pt hidden">
                    <label>Portuguese:</label>

                    {{ form.fork_question_pt_D}}
                </fieldset>
            </div>


            <!-- ------------------ ES --------------------------  -->
            <div class = "language_group">
                <button
                    type="button"
                    class="btn_show show_es"
                    _="on click toggle .hidden on the next .field_es">
                    Show ES
                </button>
                <fieldset class="field_es hidden">
                    <label>Spanish:</label>

                    {{ form.fork_question_es_D}}
                </fieldset>
            </div>
        </div> <!-- FORK D  ENDS -->
        <button
            type="button"
            class="btn_show show_form hidden"
            _="on click 
                toggle .hidden on the next <div/>
                toggle  .hidden on the next .show_form"
        >
            Show Fork E
        </button>

        <div class="fork_wrapper wrapper grid hidden">
            <h6>FORK E:</h6>
            <!-- ------------------ EN --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_en"
                    _="on click toggle .hidden on the next .field_en">
                    Hide EN
                </button>
                <fieldset class="field_en">
                    
                    <label>English:</label>

                    {{ form.fork_question_en_E }}

                    
                </fieldset>
            </div>

            <!-- ------------------ PT --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_pt"
                    _="on click toggle .hidden on the next .field_pt">
                    Show PT
                </button>
                <fieldset class="field_pt hidden">
                    <label>Portuguese:</label>

                    {{ form.fork_question_pt_E}}
                </fieldset>
            </div>


            <!-- ------------------ ES --------------------------  -->
            <div class = "language_group">
                <button
                    type="button"
                    class="btn_show show_es"
                    _="on click toggle .hidden on the next .field_es">
                    Show ES
                </button>
                <fieldset class="field_es hidden">
                    <label>Spanish:</label>

                    {{ form.fork_question_es_E}}
                </fieldset>
            </div>
        </div> <!-- FORK E  ENDS -->
        <button
            type="button"
            class="btn_show show_form hidden"
            _="on click 
                toggle .hidden on the next <div/>
                toggle  .hidden on the next .show_form"
        >
            Show Fork F
        </button>

        <div class="fork_wrapper wrapper grid hidden">
            <h6>FORK F:</h6>
            <!-- ------------------ EN --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_en"
                    _="on click toggle .hidden on the next .field_en">
                    Hide EN
                </button>
                <fieldset class="field_en">
                    
                    <label>English:</label>

                    {{ form.fork_question_en_F }}

                    
                </fieldset>
            </div>

            <!-- ------------------ PT --------------------------  -->
            <div class = "language_group">
                <button
                    type="button" 
                    class="btn_show show_pt"
                    _="on click toggle .hidden on the next .field_pt">
                    Show PT
                </button>
                <fieldset class="field_pt hidden">
                    <label>Portuguese:</label>

                    {{ form.fork_question_pt_F}}
                </fieldset>
            </div>


            <!-- ------------------ ES --------------------------  -->
            <div class = "language_group">
                <button
                    type="button"
                    class="btn_show show_es"
                    _="on click toggle .hidden on the next .field_es">
                    Show ES
                </button>
                <fieldset class="field_es hidden">
                    <label>Spanish:</label>

                    {{ form.fork_question_es_F}}
                </fieldset>
            </div>
        </div> <!-- FORK F  ENDS -->



	    <p>There are no more forks to be made</p>

        <!-- ------------------ SEND FORM --------------------------  -->
        
        

        <button class="btn_send"
            class="send"> 
            Save Changes
        </button>
    </form>
</section>
