<div 
    id = "print_{{ speech.id }}"
    class = "speech
        {% if is_fork == True %} 
            speech-fork
        {% else %}
            speech-individual
        {% endif %} 
        "
    >

    <h5 class="speech-title">
        {{ speech.name }}
    </h5>
    
    <div class = "speech-print">

        <div class="speech-print-short">
            <div class = "speech-print-short-data"> 
                <b>Spoken By:</b> 
                {{ speech.speaker }} 
            </div>
            <div class = "speech-print-short-data"> 
                <b>Emotion:</b> 
                Adicionar Emoção 
            </div>
            <div class = "speech-print-short-data"> 
                <b>Ação</b> 
                Adicionar Ação 
            </div>
        </div>
        
        <div class="speech-print-translations">
        
            <div class="language_wrap wrapper en_print">
                <button
                class="btn_show"
                _= "on click toggle .hidden on the next <div/>">
                    Show EN
                </button>
                <div class="txt txt_en">
                    <p> {{ speech.txt_en }} </p>
                </div>
            </div>

            <div class="language_wrap wrapper pt_print">
                <button
                class="btn_show"
                _= "on click toggle .hidden on the next <div/>">
                    Show PT
                </button>
                <div class="txt_pt">
                    <p> {{ speech.txt_pt }} </p>
                </div>
            </div>

            <div class="language_wrap wrapper es_print">
                <button
                class="btn_show"
                _= "on click toggle .hidden on the next <div/>">
                    Show ES
                </button>
                <div class="txt_es">
                    <p> {{ speech.txt_es }} </p>
                </div>
            </div>
            

        </div>
               
        <div class="speech-print-fork">
            <h6>Fork questions will be here:</h6>

            <div class ="speech-print-fork">
                <p class="speech-print-fork-option">
                    <b>Option A:</b> {{ speech.fork_question_en_A }}
                </p>

                <p><b>Leads to:</b> This fork-speech?</p>

            </div>
            
        
        </div>
    </div>

    
    <div class = "speech-action">

        <div class = "speech-action-edit_speech">
            <button class="btn_show btn-edit">Edit</button>

        </div>



        <div class="speech-action-fork">
            <!-- Might add a click counter, and remove the request
                on htmx past 6 forks or something 
            -->
            <button
                class="hx-btn"
                hx-post="{% url 'get_fork_form' speech.id %}"
                hx-target="this"
                hx-swap="outerHTML"
            >
                Fork this
            </button>

            <!-- Add a button to edit fork if it has forks -->

        </div>


    </div>
</div>