{% extends 'base.html'%}
<!-- The extend to home is temporary, something else when you need -->

{% block layout %}
 
    {% block content %}
        <main class="all_container">

            <div id="wrap_conv" class="conv_wrapper wrapper">

                <button
                class= "btn-edit"
                _="on click 
                    toggle .hidden on #edit_mode_conv
                    toggle .hidden on #read_mode_conv"
                >
                    Edit Conversation
                </button>

                <div id="read_mode_conv" class=conv_print>

                    {% include 'site/display/print_conv.html' %}

                </div>

                <div id="edit_mode_conv" class="hidden conv_edit">
                    {% include 'site/forms/form_edit_conv.html' %}
                </div>
            </div>
        
            
            <div class = "speech_wrapper ">
                <p>Change the class of my parent</p>


                <div class = "wrapper new_speech">
                    <button
                        class="hx-btn"
                        hx-post="{% url 'get_speech_form' conv.id %}"
                        hx-target="#wrap_speech_form"
                        hx-swap="innerHTML"
                    >
                        New Speech
                    </button>

                    <div id="wrap_speech_form">

                    </div>

                </div>

                <div class = "wrapper all_speeches">
                    
                    <button
                    class="btn_show_wrap"
                    _="on click toggle .hidden on #all_conv_wrapp"
                    
                    > Hide Conversation </button>
                    
                    <section id="all_conv_wrapp"
                    class="wrapper">
                    <!-- <h1>Here are all the speeches: </h1> -->
                    
                    {% for speech in speeches %}
                    
                    {% include 'site/htmx/single_speech.html'%}
                    
                    {% endfor %}
                    </section>
                </div>

            </div>

        </main>
        
    {% endblock %}
    
    
{% endblock %}
    
    