<div class = "speech wrap">
    <div class = "speech-print" id=" speech_{{ speech.id }}">
        Display

        <h2 class = "speech-print-title">Name: {{ speech.name }} </h2>

        <div class = "speech-print-translations">
            <div class = "language_wrap wrap">
                
                {# Here is the core part of speeches #}
                
                {# Add Fork Question here too #}
                <p class="txt txt-en"> <strong>EN:</strong>  {{ speech.txt_en }}  </p>
                <p class="txt txt-pt"> <strong>PT:</strong>  {{ speech.txt_pt }}  </p>
                <p class="txt txt-es"> <strong>ES:</strong>  {{ speech.txt_es }}  </p>

            </div>
        </div>

        <div class = "speech_data">
            <p><strong>Previous Speech:</strong></p>
            <p><strong>Next is Cycled:</strong></p>
        </div>

    </div>
    
    <div class = "speech-action hidden" id= " form_{{ speech.id }} ">
        Edit Form
    </div>

    <p>My id is: {{speech.id }}</p>

    {% if speech.id %}
    <button
        class="btn btn-show btn-htmx"
        hx-swap = "innerHTML"
        hx-post="{% url 'get_speech_edit_form' speech.id %}"
        
        hx-target= "#form_{{ speech.id }}"
        _=""
    > Edit
    {# Add hyperscript to toggle classes #}
    </button>
    {% else %}
    <h1> This is an empty ID</h1>
    {% endif %}

</div>