{# this require the information to be sent as "conv", for a single Location object #}
{# this does not have all info, yet #}


<div class="print-conv" id="print_conv_{{ conv.id }}">
    <header class="print-conv-header">
        <h6> 
            <a href="{% url 'edit_conv' conv.id %}">  {{ conv.title }}</a>
            {% if conv.is_quest == 0 %} [QUEST step {{conv.quest_step}}] {% endif %} </li>  
        </h6>
    </header>

    <p> {{ conv.description }} </p>

    <p> {{ conv.condition }} </p>

    <div> {{ conv.my_code }} </div>

    <div>Insert Modal Button Here</div>
</div>
    