{# this require the information to be sent as "conv", for a single Location object #}
{# this does not have all info, yet #}


<article class="print-conv column is-7" id="print_conv_{{ conv.id }}">
    <header class="print-conv-header">
        <h4> 
            <a href="{% url 'edit_conv' conv.id %}">  {{ conv.title }}</a>
            {% if conv.is_quest %} 
                [QUEST step {{conv.quest_step}}]
                {% endif %}
        </h4>

        <div class="has-text-right">
        
        {% if conv.location %}
            <p>Location: <a href="{% url 'edit_quest' conv.location.id %}"> {{ conv.location}} </a></p>
        {% endif %}
        {% if conv.is_quest %}
            <p>From: <a href="{% url 'edit_quest' conv.quest.id %}"> {{ conv.quest}} </a></p>       
        {% endif %}
        </div>        
    </header>
    
    <p>TODO: Add if statements here </p>
    <div class="columns is-centered">

        <div class="column is-half" >
            <p><strong>Description: </strong> {{ conv.description }} </p>
            <p><strong>Condition: </strong> {{ conv.condition }} </p>
        </div>
        
        <div class="column is-half has-text-centered">
            <p>Cutscene: {{ quest.is_cutscene }} </p>
            <p>Is Linear: {{ is_linear}} </p>
        </div>
    </div>

    {% if conv.my_code %}
        <pre> {{ conv.my_code }} code doce </pre>
    {% endif %}

</article>
    